.col_white_amrc {
    color:#0f0f0f;
  }

.Footer {
    width:100%;
    background-color:#263238;
    min-height:250px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0 60px;
    position: relative;
    box-shadow: #263238;
  }
  
  .bottomBorder{
    justify-content: space-around;
    margin: 40px;
  }
  
  .pt2 {
    font-size: 14px;
    font-weight: bold;
  }
  .Footer p {
    font-size:15px;
    color:#CCC;
    margin-bottom:8px;
    margin-right: 50px;
  }
  .mb10 {
    padding-bottom:15px ;
  }
  .footer_ul_amrc {
    list-style-type:none ;
    font-size:14px; padding:0px 0px 10px 0px ; }
  
  .footer_ul_amrc li {
    padding:0px 0px 5px 0px;
  }
  .footer_ul_amrc li a{
    color:#CCC;
  }
  .footer_ul_amrc li a:hover{
    color:#fff;
    text-decoration:none;}
  
  .fleft {
    float:left;
  }
  .padding-right {
    padding-right:10px;
  }
  
  .footer_ul2_amrc {
    margin:0px;
    list-style-type:none;
    padding:0px;
  }
  
  .footer_ul2_amrc li p {
    display:table;
  }
  
  .footer_ul2_amrc li a:hover {
    text-decoration:none;
  }
  .footer_ul2_amrc li i {
    margin-top:5px;
  }
  
  .bottom_border {
    width: auto;
    border-bottom:1px solid #323f45;
    margin-left: 10px;
  
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  .foote_bottom_ul_amrc {
    list-style-type:none;
    display:table;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    
  }
  .foote_bottom_ul_amrc li { display:inline;}
  .foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}
  
  .social_footer_ul {
    display:table;
    margin:15px auto 30px auto;
    list-style-type:none;
  }
  .social_footer_ul li {
    padding-left:20px;
    padding-top:10px;
    float:left;
  }
  .social_footer_ul li a {
    color:#CCC;
    border:1px solid #CCC;
    padding:8px;
    border-radius:50%;
  }
  
  .social_footer_ul li i {
    width:20px;
    height:20px;
    text-align:center;
  }
  